// Button
// ========================================

$button-hover-color-multiplier: 1.3;
$button-desaturation-percent: 100%;

// Progress Bar
// ========================================

$progressbar-height: 12px;
$progressbar-empty-color: #CCC;
$progressbar-fill-color: #3284ff;
$progressbar-hover-color: #5b9cff;
$progressbar-transition-time: 0.2s;
$progressbar-text-color: white;